<div style="display: inline-flex;">
    <img class="photos" src="assets/image3.jpg" alt="My Image">
    <div class="shadows">
        <form [formGroup]="myForm" (ngSubmit)="send()">

            <p>Добавьте новый продукт: </p>
            <div class="element">
                <label class="lofform">Брэнд</label>
                <input name="brand" formControlName="brand" />
            </div>

            <div class="element">
                <label class="lofform">Сегмент</label>
                <select formControlName="segmentControl">
                    <option *ngFor="let segment of segments"
                        [value]="segment.value">{{segment.label}}</option>
                </select>

            </div>

            <div class="element">
                <label class="lofform">Оттенок</label>
                <input name="color" formControlName="color" />
            </div>

            <div class="element">
                <label class="lofform">Водостойкость</label>
                <label class="lofform">
                    <input type="radio" value="yes"
                        formControlName="radioControl"> Да
                </label>
                <label class="lofform">
                    <input type="radio" value="no"
                        formControlName="radioControl"> Нет
                </label>
            </div>

            <div class="element">
                <label class="lofform">Серийный номер</label>
                <input name="series" formControlName="series" />
            </div>

            <button type="submit" [disabled]="myForm.invalid">Отправить</button>
        </form>
    </div>
    <div>
        <h3>Тени для век:</h3>

        <table border="1px" cellpadding="5" >
            <tr>
                <th>Брэнд</th>
                <th>Оттенок</th>
                <th>Сегмент</th>
                <th>Водостойкость</th>
                <th>Серийный номер</th>
            </tr>
            <tr *ngFor="let shadow of shadows">
                <td>{{shadow.brand}}</td>
                <td>{{shadow.color}}</td>
                <td>{{shadow.segmentControl}}</td>
                <td>{{shadow.radioControl}}</td>
                <td>{{shadow.series}}</td>
            </tr>
        </table>
    </div>
</div>